{% extends 'base.html' %}
{% block title %}YourPet{% endblock %}

{% block content %}
<h1>User Profile: {{user.username}}</h1>
<form style= 'display:inline' action='/user/{{user.username}}/delete' method='POST'>
    <button class='btn  btn-sm btn-danger'> Remove User</button>
    </form>
<ul>
    <li>
        Username: {{user.username}}
    </li>
    <li>
        Email: {{user.email}}
    </li>
    <li>
        First Name: {{user.first_name}}
    </li>
    <li>
        Last Name: {{user.last_name}}
    </li>
</ul>


{% for i in range(length) %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src={{likelist[i]['animal']['photos'][0]['full']}} class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <a href="/dogs/{{likelist[i]['animal']['id']}}" >{{likelist[i]['animal']['name']}}</a>
              </h5>
                <li class="list-group-item">Gender:{{likelist[i]['animal']['gender']}}</li>
                <li class="list-group-item">Age:{{likelist[i]['animal']['age']}}</li>
                <li class="list-group-item">Size:{{likelist[i]['animal']['size']}}</li>
            </div>
          </div>
        </div>
    </div>
{% endfor %}



{% endblock %}